<form enctype="multipart/form-data">
    <div class="form-group">
        <label>Method:</label>
        <select class="form-control" data-bind="value: method">
            <option value="GET">GET</option>
            <option value="POST">POST</option>
            <option value="PUT">PUT</option>
            <option value="DELETE">DELETE</option>
        </select>
    </div>
    <div class="form-group">
        <label>Endpoint:</label>
        <input class="form-control" type="text" data-bind="value: endpoint, valueUpdate: 'keyup'" placeholder="API endpoint" />
    </div>
    <div class="form-group">
        <input type="checkbox" data-bind="checked: isFileResult" />
        <label>File Result:</label>
    </div>
    <div style="display: none;" class="form-group" data-bind="visible: isFileResult">
        <input type="file" name="file" id="file" data-bind="event:{ change: onFileSelected }" />
    </div>
    <div class="form-group">
        <a href="#" class="jstree-anchor jstree-clicked" style="color:inherit;">
            <i class="glyphicon glyphicon-flash"></i>
            <span data-bind="text: method, css: methodLabel"></span>
            <span data-bind="text: endpoint().toLowerCase()"></span>
            <span data-bind="text: selectedFile"></span>
        </a>
    </div>
    <button type="button" class="btn btn-primary btn-sm" data-bind="click: submit">Submit</button>
</form>