<div class="modal fade" tabindex="-1" role="dialog" data-bind="modal: showModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" data-bind="text: title"></h4>
            </div>
            <div class="modal-body">
                <div data-bind="component:{name: componentName, params: params}"></div>
            </div>
        </div>
    </div>
</div>