#tree .folder {
  background: url("/img/file_sprite.png") right bottom no-repeat;
}

#tree .file {
  background: url("/img/file_sprite.png") 0 0 no-repeat;
}

#tree .file-pdf {
  background-position: -32px 0;
}

#tree .file-as {
  background-position: -36px 0;
}

#tree .file-c {
  background-position: -72px -0px;
}

#tree .file-iso {
  background-position: -108px -0px;
}

#tree .file-htm,
#tree .file-html,
#tree .file-xml,
#tree .file-xsl,
#tree .file-cshtml {
  background-position: -126px -0px;
}

#tree .file-cf {
  background-position: -162px -0px;
}

#tree .file-cpp {
  background-position: -216px -0px;
}

#tree .file-cs {
  background-position: -236px -0px;
}

#tree .file-sql {
  background-position: -272px -0px;
}

#tree .file-xls,
#tree .file-xlsx {
  background-position: -362px -0px;
}

#tree .file-h {
  background-position: -488px -0px;
}

#tree .file-code {
  background-position: -436px -18px;
}

#tree .file-crt,
#tree .file-pem,
#tree .file-cer {
  background-position: -452px -18px;
}

#tree .file-php {
  background-position: -108px -18px;
}

#tree .file-jpg,
#tree .file-jpeg,
#tree .file-png,
#tree .file-gif,
#tree .file-bmp {
  background-position: -126px -18px;
}

#tree .file-ppt,
#tree .file-pptx {
  background-position: -144px -18px;
}

#tree .file-rb {
  background-position: -180px -18px;
}

#tree .file-text,
#tree .file-txt,
#tree .file-md,
#tree .file-log,
#tree .file-htaccess {
  background-position: -254px -18px;
}

#tree .file-doc,
#tree .file-docx {
  background-position: -362px -18px;
}

#tree .file-site {
  background-position: -381px -18px;
}

#tree .file-zip,
#tree .file-gz,
#tree .file-tar,
#tree .file-rar {
  background-position: -416px -18px;
}

#tree .file-js {
  background-position: -434px -18px;
}

#tree .file-css {
  background-position: -144px -0px;
}

#tree-sidepane a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.jstree-default-small .jstree-node {
  line-height: 19px;
}

.navbar .label {
  border-radius: 0.25em;
}

#editor,
#requestEditor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.span-status {
  margin-top: 2px;
  float: left;
  transition: opacity 0.5s ease;
  color: #dbdbdb;
}

.cli-progress {
  height: 16px;
  position: relative;
  top: 7px;
  width: 0px;
  margin-left: 200px;
}

.cli-save {
}

.cli-save:hover {
  background: rgba(255, 255, 255, 0.2) !important;
}

.requestConsole {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.requestConsole .nav-tabs {
  background-color: #454342;
  top: 0px;
}

.requestConsole .nav-tabs > li > a,
.requestConsole .nav-tabs > li > a:focus,
.requestConsole .nav-tabs > li.active > a,
.requestConsole .nav-tabs > li.active > a:hover,
.requestConsole .nav-tabs > li.active > a:focus {
  background: transparent !important;
  background-color: transparent !important;
  border-color: transparent !important;
  border: 0 !important;
  box-shadow: 0 0 0 !important;
  margin-top: 0;
  line-height: 20px;
}

.requestConsole .nav-tabs > li > a {
  font-size: 11px;
  color: rgba(231, 231, 231, 0.5);
}

.requestConsole .nav-tabs > li.active > a {
  color: rgb(217, 217, 217);
  font-weight: 700;
}

.requestConsole .tab-content {
  font-family: droid sans mono, consolas, monospace, courier new, courier,
    sans-serif;
  line-height: 1.3;
  padding: 0;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  top: 0;
}

.requestConsole .tab-pane {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  top: 0;
}

.requestConsole .indent {
  margin-left: 40px;
}

.requestConsole div.jsoneditor-tree {
  height: 95%;
}

.requestConsole .jsoneditor-menu {
  display: none;
}

.table-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
}

.table-container td {
  position: relative;
  display: table-cell;
}
